<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
</head>

<body>
    <div class="topbar-wrap white">
        <div class="topbar-inner clearfix">
            <div class="topbar-logo-wrap clearfix">
                <ul class="navbar-list clearfix">
                    <li><a class="on" href="index">首页</a></li>
                    <li><a href="/info">信息</a></li>
                    <li><a href="/add">添加</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container clearfix">
        <div class="sidebar-wrap">
            <div class="sidebar-title">
                <h1>菜单</h1>
            </div>
            <div class="sidebar-content">
                <ul class="sidebar-list">
                    <li>
                        <a href="#"><i class="icon-font">&#xe90b;</i>菜单</a>
                        <ul class="sub-menu">
                            <li><a href="/index"><i class="icon-font">&#xe90e;</i>主页</a></li>
                            <li><a href="/info"><i class="icon-font">&#xe90c;</i>信息列表</a></li>
                            <li><a href="/add"><i class="icon-font">&#xe902;</i>添加信息</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--/sidebar-->
        <div class="main-wrap">
            <div class="crumb-wrap">
                <div class="crumb-list"><i class="icon-font">&#xe92c;</i><span>欢迎使用</span></div>
            </div>
            <div class="result-wrap">
                <div class="result-title">
                    <h1>快捷操作</h1>
                </div>
                <div class="result-content">
                    <div class="short-wrap">
                        <a href="#"><i class="icon-font">&#xe95e;</i>其实什么都没有</a>
                    </div>
                </div>
            </div>
            <div class="result-wrap">
                <div class="result-title">
                    <h1>基本信息</h1>
                </div>
                <div class="result-content">
                    <ul class="sys-info-list">
                        <li>
                            <label class="res-lab">nodejs：</label><span class="res-info"><a target="_blank" href="https://nodejs.org/en/">去看看</a></span>
                        </li>
                        <li>
                            <label class="res-lab">mysql：</label><span class="res-info"><a target="_blank" href="https://www.mysql.com/">去看看</a></span>
                        </li>
                        <li>
                            <label class="res-lab">express：</label><span class="res-info"><a target="_blank" href="http://www.expressjs.com.cn/">去看看</a></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/main-->
    </div>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/layer/layer.js"></script>
    <script type="text/javascript" src="/js/laypage/laypage.js"></script>
</body>

</html>